In [1]:
import pandas as pd

## 词频去重

In [5]:
google = pd.read_csv("./google.csv",header=None)
#google = google.drop_duplicates()
google

                0
0             the
1              of
2             and
3              to
4              in
...           ...
458336   zymurgic
458337  zymurgies
458338     zythem
458339    zythums
458340   zyzzyvas

[458341 rows x 1 columns]

In [13]:
coca60k = pd.read_csv("./coca60k.txt",header=None)
coca60k.drop_duplicates().to_csv("unicoca60k.csv", index = False)

In [14]:
iweb = pd.read_csv("./iweb.csv",header=None)
iweb.drop_duplicates().to_csv("uniiweb.csv", index = False)

In [9]:
SUBTLEXus = pd.read_csv("./SUBTLEXus.csv",header=None)
#SUBTLEXus = SUBTLEXus.drop_duplicates()
SUBTLEXus

                    0
0                Word
1                 the
2                  to
3                   a
4                 you
...               ...
74281     Zoroastrian
74282  Zoroastrianism
74283        zugzwang
74284         zygotes
74285         zymurgy

[74286 rows x 1 columns]

In [15]:
bnc = pd.read_csv("./bnc.csv",header=None, encoding='latin1')
bnc.drop_duplicates().to_csv("unibnc.csv", index = False)

In [12]:
oacald = pd.read_csv("./oacald.csv",header=None)
#oacald = oacald.drop_duplicates()
oacald

                    0
0                   a
1                  a-
2                  a1
3          a2 (level)
4                  aa
...               ...
49795          émigré
49796  éminence grise
49797            épée
49798           über-
49799               A

[49800 rows x 1 columns]

In [17]:
import openpyxl
import xlrd
lm3k = pd.read_excel("./lm3k.xlsx")
lm3k

             a
0      abandon
1      ability
2         able
3        about
4        above
...         ...
3162      your
3163     yours
3164  yourself
3165     youth
3166       zone

[3167 rows x 1 columns]

In [19]:
of3k = pd.read_csv("./of3k.txt",header=None)
of3k

              0
0             a
1       abandon
2     abandoned
3       ability
4          able
...         ...
3842      yours
3843   yourself
3844      youth
3845       zero
3846       zone

[3847 rows x 1 columns]

In [2]:
from collections import OrderedDict

In [29]:
def filter_word_list(list_a, list_b):
    # 将list_a转换为集合，便于快速查找
    set_a = set(list_a)
    
    # 过滤list_b，只保留存在于set_a中的词条
    filtered_list_b = [word for word in list_b if word in set_a]
    
    return filtered_list_b

In [2]:
with open('uniiweb.csv', 'r', encoding='utf-8') as file:
    # 读取文件内容
    iweb = file.readlines()
iweb= [iweb.rstrip('\n') for iweb in iweb] 
iweb = list(set(iweb))
with open('oacald.csv', 'r', encoding='utf-8') as file:
    # 读取文件内容
    oacald = file.readlines()
oacald= [oacald.rstrip('\n') for oacald in oacald] 
with open('unicoca60k.txt', 'r', encoding='utf-8') as file:
    coca60k = file.readlines()
coca60k= [coca60k.rstrip('\n') for coca60k in coca60k] 
coca60k = list(set(coca60k))

In [3]:
with open('google.csv', 'r', encoding='utf-8') as file:
    google = file.readlines()
google= [google.rstrip('\n') for google in google] 
google = list(set(google))

In [4]:
with open('unibnc.csv', 'r', encoding='latin1') as file:
    bnc = file.readlines()
bnc= [bnc.rstrip('\n') for bnc in bnc] 
google = list(set(google))

In [5]:
with open('SUBTLEXus.csv', 'r', encoding='utf-8') as file:
    SUBTLEXus = file.readlines()
SUBTLEXus= [SUBTLEXus.rstrip('\n') for SUBTLEXus in SUBTLEXus]

In [25]:
with open('cefr.csv', 'r', encoding='latin1') as file:
    cefr = file.readlines()
cefr= [cefr.rstrip('\n') for cefr in cefr]

In [31]:
import pandas as pd
with open('oacald.csv', 'r', encoding='utf-8') as file:
    # 读取文件内容
    oacald = file.readlines()
oacald= [oacald.rstrip('\n') for oacald in oacald] 
def filter(list):
    list = filter_word_list(oacald, list)
    list = pd.DataFrame(list) 
    list.to_csv("filtered_cefr.csv",index=False)
filter(cefr)

In [34]:
cefr = pd.read_csv("filtered_cefr.csv")
cefr = cefr['0'].unique()
with open("filtered_cefr.txt", "w",encoding="utf-8") as f:
  f.write("\n".join(cefr))
cefr

array(['cattle', 'clothes', 'albeit', ..., 'running water',
       'special offer', 'the Web'], dtype=object)

In [ ]:
import pandas as pd
# 过滤单词表B
filtered_SUBTLEXus = filter_word_list(oacald, SUBTLEXus)
filtered_SUBTLEXus = pd.DataFrame(filtered_SUBTLEXus) 
filtered_SUBTLEXus.to_csv("filtered_SUBTLEXus.csv",index=False)

In [36]:
# 示例单词表
#word_list_a = ["apple", "banana", "cherry", "date", "fig", "grape", "melon"]
#word_list_b = ["banana", "cherry", "kiwi", "melon", "orange", "fig"]
import pandas as pd
# 过滤单词表B
filtered_SUBTLEXus = filter_word_list(oacald, SUBTLEXus)
filtered_SUBTLEXus = pd.DataFrame(filtered_SUBTLEXus) 
filtered_SUBTLEXus.to_csv("filtered_SUBTLEXus.csv",index=False)

In [25]:
filtered_google.to_csv("filtered_google.csv",index=False)

In [13]:
import pandas as pd
data = pd.read_csv("./filtered_iweb.csv")
#data['0'].head(3000).to_csv("iweb3k.csv", index=False, header=False)

In [17]:
def exk(path):
    data = pd.read_csv(path)
    data['0'].head(3000).to_csv('3k'+path, index=False, header=False)
    data['0'].head(6000).to_csv('6k'+path, index=False, header=False)
    data['0'].head(10000).to_csv('10k'+path, index=False, header=False)
    data['0'].head(15000).to_csv('15k'+path, index=False, header=False)
    data['0'].head(25000).to_csv('25k'+path, index=False, header=False)

In [22]:
import pandas as pd
path = "filtered_SUBTLEXus.csv"
exk(path)