In [ ]:
google = pd.read_csv("google.csv", header = None)
SUBTLEXus = pd.read_csv("SUBTLEXus.csv", header = None)
unibnc = pd.read_csv("unibnc.csv")
unicoca60k = pd.read_csv("unicoca60k.csv")
uniiweb = pd.read_csv("uniiweb.csv")

In [50]:
df[0].head(3000).to_csv('3kfiltered_SUBTLEXus.txt', index=False, header=False)

In [67]:
import pandas as pd
def exk(path):
    data = pd.read_csv(path,header=None)
    data[0].head(3000).to_csv('3k'+path, index=False, header=False)
    data[0].head(6000).to_csv('6k'+path, index=False, header=False)
    data[0].head(10000).to_csv('10k'+path, index=False, header=False)
    data[0].head(15000).to_csv('15k'+path, index=False, header=False)
    data[0].head(25000).to_csv('25k'+path, index=False, header=False)
    data[0].head(40000).to_csv('40k'+path, index=False, header=False)
    data[0].head(51381).to_csv('51k'+path, index=False, header=False)

In [68]:
path = "filtered_uniiweb.txt"
exk(path)

In [2]:
path = "SUBTLEXus.csv"
data = pd.read_csv(path)
data

                 Word
0                 the
1                  to
2                   a
3                 you
4                 and
...               ...
74280     Zoroastrian
74281  Zoroastrianism
74282        zugzwang
74283         zygotes
74284         zymurgy

[74285 rows x 1 columns]

In [2]:
import pandas as pd
def modify_and_filter(a, b):
    result = []
    
    for item in b:
        if item in a:
            result.append(item)
        else:
            # 尝试首字母大写
            capitalized_item = item.capitalize()
            if capitalized_item in a:
                result.append(capitalized_item)
            else:
                # 尝试全部大写
                upper_item = item.upper()
                if upper_item in a:
                    result.append(upper_item)
                else:
                    # 如果所有形式都不在列表a中，则删除该元素
                    pass
    
    return result

In [5]:
path = "wordlist.txt"
with open('wordlist.txt', 'r', encoding='utf-8') as file:
    wordlist = file.readlines()
wordlist= [wordlist.rstrip('\n') for wordlist in wordlist]

In [9]:
with open('google.csv', 'r', encoding='utf-8') as file:
    data = file.readlines()
google= [data.rstrip('\n') for data in data] 

with open('SUBTLEXus.csv', 'r', encoding='utf-8') as file:
    data = file.readlines()
SUBTLEXus= [data.rstrip('\n') for data in data] 

with open('unibnc.csv', 'r', encoding='utf-8') as file:
    data = file.readlines()
unibnc= [data.rstrip('\n') for data in data] 

with open('unicoca60k.csv', 'r', encoding='utf-8') as file:
    data = file.readlines()
unicoca60k= [data.rstrip('\n') for data in data] 

with open('uniiweb.csv', 'r', encoding='utf-8') as file:
    data = file.readlines()
uniiweb= [data.rstrip('\n') for data in data]

In [12]:

result = modify_and_filter(wordlist, cefr)
with open("filtered_google.txt", "w",encoding="utf-8") as f:
    f.write("\n".join(result))

KeyboardInterrupt:

In [33]:
unibnc['0']

0                     the
1                      of
2                     and
3                       a
4                      in
               ...
130766       &agr;-methyl
130767    &agr;-linolenic
130768      &agr;-helices
130769     &aelig;thelric
130770             &acirc
Name: 0, Length: 130771, dtype: object

In [23]:
cefr = pd.read_csv("cefr.txt",header=None)
#cefr[0].to_csv("c2.txt", header=None, index=None)
cefr = list(set(cefr[0]))
cefr = pd.DataFrame(cefr)
cefr.to_csv("2cefr.txt", header=None, index=None)

In [7]:
google = pd.read_csv("google.csv", header = None)
SUBTLEXus = pd.read_csv("SUBTLEXus.csv", header = None)
unibnc = pd.read_csv("unibnc.csv")
unicoca60k = pd.read_csv("unicoca60k.csv")
uniiweb = pd.read_csv("uniiweb.csv")
with open('wordlist2.txt', 'r', encoding='utf-8') as file:
    wordlist = file.readlines()
wordlist= [wordlist.rstrip('\n') for wordlist in wordlist] 
wordlist = pd.Series(wordlist)

In [11]:
import pandas as pd

def modify_and_filter_pandas(a, b):
    df_a = pd.Series(a)
    df_b = pd.Series(b)

    set_a = set(df_a)

    def transform_and_filter(item):
        if item in set_a:
            return item
        item_str = str(item)
        capitalized_item = item_str.capitalize()
        if capitalized_item in set_a:
            return capitalized_item
        upper_item = item_str.upper()
        if upper_item in set_a:
            return upper_item
        return None

    result = df_b.apply(transform_and_filter)
    return result.dropna().tolist()

# 示例用法
#a = ["10000 foot view", "10000-foot-view", "Link 和0800 number", "0800-number", "Link hr"]
#b = ["10000 foot view", "link 和0800 number", "0800-number", "link hr", "unknown element"]

# 使用包含大数据集的示例
# a = [f"item{i}" for i in range(1000000)]
# b = [f"item{i}" for i in range(100000)] + ["unknown element"]

result = modify_and_filter_pandas(wordlist, cefr["Base Word"])
result = list(set(result))
with open("filtered_cefr.txt", "w",encoding="utf-8") as f:
    f.write("\n".join(result))

In [28]:
# def find_differences(a, b):
#     set_a = set(a)
#     set_b = set(b)

#     # 找到在a中但不在b中的元素
#     diff_a_to_b = set_a - set_b
#     # 找到在b中但不在a中的元素
#     diff_b_to_a = set_b - set_a

#     return list(diff_a_to_b), list(diff_b_to_a)

# with open('google.csv', 'r', encoding='utf-8') as file:
#     g = file.readlines()
# g= [g.rstrip('\n') for g in g] 
# diff_a_to_b, diff_b_to_a = find_differences(g, result)

# print("在a中但不在b中的元素:")
# for item in diff_a_to_b:
#     print(item)

In [35]:
aaa = "auk"

In [36]:
aaa.capitalize()

'Auk'

In [ ]:
        capitalized_item = item.capitalize()
        if capitalized_item in set_a:
            return capitalized_item
        upper_item = item.upper()

In [5]:
data = pd.read_csv('47kfiltered_unicoca60k.txt',header=None)
data

               0
0            the
1             be
2            and
3             of
4              a
...          ...
47295   hecatomb
47296   sideslip
47297     gaoler
47298  carcinoid
47299      tonus

[47300 rows x 1 columns]

In [1]:
import pandas as pd

In [6]:
data = list(set (data[0]))
data = pd.DataFrame(data)
data

                  0
0            eighty
1           arrange
2           badness
3        metallurgy
4            tippet
...             ...
47295          lane
47296  contextually
47297    megalithic
47298      seatwork
47299    hemoglobin

[47300 rows x 1 columns]